
<div>
    <h2><span>Data Transfer Job History</span> {{vm.dataTransferJobHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Execution Time</span></dt>
        <dd>
            <span>{{vm.dataTransferJobHistory.executionTime | date:'medium'}}</span>
        </dd>
        <dt><span>File Name</span></dt>
        <dd>
            <span>{{vm.dataTransferJobHistory.fileName}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="data-transfer-job-history-detail.edit({id:vm.dataTransferJobHistory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
