<div>
    <h2>Data Transfer Job Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="data-transfer-job-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Data Transfer Job History
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Execution Time</span></th>
                    <th><span>File Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataTransferJobHistory in vm.dataTransferJobHistories track by dataTransferJobHistory.id">
                    <td><a ui-sref="data-transfer-job-history-detail({id:dataTransferJobHistory.id})">{{dataTransferJobHistory.id}}</a></td>
                    <td>{{dataTransferJobHistory.executionTime | date:'medium'}}</td>
                    <td>{{dataTransferJobHistory.fileName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="data-transfer-job-history-detail({id:dataTransferJobHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-transfer-job-history.edit({id:dataTransferJobHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-transfer-job-history.delete({id:dataTransferJobHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
