
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDataTransferJobHistoryLabel">Create or edit a Data Transfer Job History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dataTransferJobHistory.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dataTransferJobHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_executionTime">Execution Time</label>
                <div class="input-group">
                    <input id="field_executionTime" type="text" class="form-control" name="executionTime" datetime-picker="{{dateformat}}" ng-model="vm.dataTransferJobHistory.executionTime" is-open="vm.datePickerOpenStatus.executionTime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('executionTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.executionTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.executionTime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.executionTime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.dataTransferJobHistory.fileName"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
