
<div>
    <h2><span>Data Transfer Config</span> {{vm.dataTransferConfig.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Source Folder Path</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.sourceFolderPath}}</span>
        </dd>
        <dt><span>Remote Type</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.remoteType}}</span>
        </dd>
        <dt><span>Remote Address</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.remoteAddress}}</span>
        </dd>
        <dt><span>Remote Username</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.remoteUsername}}</span>
        </dd>
        <dt><span>Remote Password</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.remotePassword}}</span>
        </dd>
        <dt><span>Job Intervalsec</span></dt>
        <dd>
            <span>{{vm.dataTransferConfig.jobIntervalsec}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="data-transfer-config-detail.edit({id:vm.dataTransferConfig.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
