
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDataTransferConfigLabel">Create or edit a Data Transfer Config</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dataTransferConfig.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dataTransferConfig.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sourceFolderPath">Source Folder Path</label>
            <input type="text" class="form-control" name="sourceFolderPath" id="field_sourceFolderPath"
                    ng-model="vm.dataTransferConfig.sourceFolderPath"
                    required/>
            <div ng-show="editForm.sourceFolderPath.$invalid">
                <p class="help-block"
                    ng-show="editForm.sourceFolderPath.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remoteType">Remote Type</label>
            <select class="form-control" name="remoteType" ng-model="vm.dataTransferConfig.remoteType" id="field_remoteType" required>
                <option value="FTP">FTP</option>
                <option value="SMB">SMB</option>
            </select>
            <div ng-show="editForm.remoteType.$invalid">
                <p class="help-block"
                    ng-show="editForm.remoteType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remoteAddress">Remote Address</label>
            <input type="text" class="form-control" name="remoteAddress" id="field_remoteAddress"
                    ng-model="vm.dataTransferConfig.remoteAddress"
                    required/>
            <div ng-show="editForm.remoteAddress.$invalid">
                <p class="help-block"
                    ng-show="editForm.remoteAddress.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remoteUsername">Remote Username</label>
            <input type="text" class="form-control" name="remoteUsername" id="field_remoteUsername"
                    ng-model="vm.dataTransferConfig.remoteUsername"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remotePassword">Remote Password</label>
            <input type="text" class="form-control" name="remotePassword" id="field_remotePassword"
                    ng-model="vm.dataTransferConfig.remotePassword"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jobIntervalsec">Job Intervalsec</label>
            <input type="number" class="form-control" name="jobIntervalsec" id="field_jobIntervalsec"
                    ng-model="vm.dataTransferConfig.jobIntervalsec"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
