<div>
    <h2>Data Transfer Configs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="data-transfer-config.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Data Transfer Config
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Source Folder Path</span></th>
                    <th><span>Remote Type</span></th>
                    <th><span>Remote Address</span></th>
                    <th><span>Remote Username</span></th>
                    <th><span>Remote Password</span></th>
                    <th><span>Job Intervalsec</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataTransferConfig in vm.dataTransferConfigs track by dataTransferConfig.id">
                    <td><a ui-sref="data-transfer-config-detail({id:dataTransferConfig.id})">{{dataTransferConfig.id}}</a></td>
                    <td>{{dataTransferConfig.sourceFolderPath}}</td>
                    <td>{{dataTransferConfig.remoteType}}</td>
                    <td>{{dataTransferConfig.remoteAddress}}</td>
                    <td>{{dataTransferConfig.remoteUsername}}</td>
                    <td>{{dataTransferConfig.remotePassword}}</td>
                    <td>{{dataTransferConfig.jobIntervalsec}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="data-transfer-config-detail({id:dataTransferConfig.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-transfer-config.edit({id:dataTransferConfig.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-transfer-config.delete({id:dataTransferConfig.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
